body, ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.header{
    background-color: #F8F4FC;
}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

.header__navigation, .header__icons{
    display: flex;
}

.header__navigation-item{
    width: 100px;
    text-align: center;
}
.header__navigation-item a{
     text-decoration: none;
     color: #354657;
     font-size: 16px;
     width: 100%;
     display: block;
     padding: 50px 0;
}

.header__icons-icon{
    width: 50px;
    text-align: center;
}

.header__icons-icon a{
    width: 100%;
    display: block;
    padding: 50px 20px;
}

.box__container{
    width: 75%;
    margin: 0 auto;

}

.box__title{
    margin-top: 83px;
    border-bottom-width: 1px;
    border-bottom-color: #E2E2E2;
    border-bottom-style: solid;
    padding-bottom: 18px;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
}

.card__1, .card__2, .card__3{
    width: 31%;
    height: 513px;
    border: 1px black;
    background-color: white;    
    background-repeat: no-repeat;
    background-size: 100%;
}

/**.card__2-hearder{
    margin-bottom: 45px;
}**/

.card__1{
    background-image: url("../image/Rectangle\ 4.png");
    
}

.card__2{
    background-image: url("../image/Rectangle\ 4\ 2.png");

}

.card__3{
    background-image: url("../image/Rectangle\ 4\ 3.png");

}

.card-text{
    padding: 210px 0;
    font: railway;
    font-size: 16px;
    color: #354657;
}

.card__button{
    width: 50%;
    border: 2px solid #946FD3;
    margin: 45px 0;
    border-radius: 50px;
    text-align: center;    
}

.card__button a{
    text-decoration: none;
    color: #946FD3;
    font-size: 16px;
    width: 100%;
    display: block;
    padding: 10px 0;
}

.footer{
    background-color: #FFFFFF;
    border-top: 1px #E2E2E2 solid;
    margin: 300px 0 0;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    padding-left: 65%;
}

.footer__icons{
    display: flex;
    
}

.footer__icons-icon{
    width: 50px;
    text-align: center; 
}

.footer__icons-icon a{
    width: 100%;
    display: block;
    padding: 50px 0;
}